@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
:root{
    --main:#F6E6CB;
    --secondary:#E7D4B5;
    --blk:black;
}
html{
    font-size:62.5%;
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.home{
    width: 100%;
    height: 100%;
    /* position: relative; */
    background-color:var(--main);
}
header{
    position: fixed;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 4rem 0rem ;
}
.nav{
    width: 70vw;
}
.nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
a{
    color: var(--blk);
}
.nav ul li {
    font-size: 2rem ;
    font-family: 'Poppins';
    transition: 0.2s linear ;
    color: var(--blk);
    font-weight: 700;
}
.nav ul li:hover{
    transform: scale(1.1);
}
.nav ul li a:hover{
color: orangered;}
#check{
    display:none;
}
label{
    display: none;
}
/* Landing page  */
.home_main{
    display: grid;
    place-items: center;
    width: 100%;
    height: 100vh;
}
.home_container{
    width: 100%;
    height: auto;
    display:flex;
    justify-content:space-evenly;
    align-items:center;
}
.home img{
    width: 40rem ;
    height: auto;
}
.home .home_container_right{
    display:grid;
    place-items:center;
}
.home h1{
    font-size: 8rem ;
    color: var(--blk);
    font-family: 'Anton SC';
}
.home h5{
    color: gray;
    font-size:4rem;
    font-weight: 300;
    font-family: 'Noto serif';
}
.btn{
    font-size: 3rem;
    color: whitesmoke;
    background-color: var(--blk);
    padding:  2rem ;
    border: 0.2rem solid var(--blk);
    border-radius: 0.5rem ;
    transition: 0.5s linear ;
    width: 35rem ;
    height: auto;
    margin: 2rem 0rem ;
}
.btn:hover{
    background-color: transparent;
    color: var(--blk);
    box-shadow: 0px 0px 100px 10px rgba(0,0,0,0.75);
    transform: scale(1.1);
}

/*About section  */
.about{
    width: 100%;
    height: 100vh;
    background-color: var(--main);;
    /* background-color: black; */
    display:grid;
    place-items:center;
}
.about_container{
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    width: 80%;
    height: auto;
    gap: 5rem;
}
.about_container_left{ 
    width: 40%; 
     height: auto;
 }
.about img{
    width: 50rem;
    height: auto;
}
.about h1{
    font-family:'Poppins';
    font-weight: bold;
    color: var(--blk);
    font-size: 5rem;
}
.about p {
    color: var(--blk);
    font-size: 2rem ;
    font-family: 'Noto serif';
    text-align: justify;
}

/* Capabilities  */
.capabilities{
    width: 100%;
    height: 100%;
    display:grid;
    place-items:center;
    background-color: var(--main);
}
.capabilities h1{
    font-size: 7rem ;
    font-family: 'Poppins';
}
.capabilities_container h1{
    font-size: 3rem ;
}
.capabilities_container p {
    font-size: 2rem ;
    color: gray;
    font-family: 'Noto serif';
    margin: 2rem 0rem;
}
.capabilities_container{
    width: 80vw;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: auto auto auto;
    gap: 5rem ;
}
.capabilities_container div{
    padding: 2rem 4rem;
    border: none;
    border-radius: 1rem ;
    background-color: var(--secondary);
    transition: 0.3s linear ;
}
.capabilities_container div:hover{
    box-shadow: 0px 0px 100px 10px black;
    transform: scale(1.05);
    border-radius:2rem ;
}
.capabilities_container .btn{
    width: auto;
    padding: 1rem 3rem ;
    font-size: 1.5rem ;
}

/* Education section  */

.education{
    width: 100%;
    height: 100%;
    background-color: var(--main);
    padding: 20rem ;
}
.education_heading{
    font-family:'Poppins';
    font-weight: bold;
    color: var(--blk);
    font-size: 7rem;
}
.education_main{
    width: 100%;
    height: auto;
    gap: 10rem;
    display: grid;
    place-items:center;
    margin: 5rem 0rem ;
}
.education_container{
    display:grid;
    place-items:center;
    width: 80%;
 
   
}
.education_container_data{
    padding: 1rem 3rem  ;
    border: none;
    border-left: 0.5rem solid var(--blk);
    transition: 0.5s linear;
}
/* .educati  */
.education_main .education_container:nth-of-type(1){
    display: flex;
    justify-content: left;
    align-items: center;
}
.education_main .education_container:nth-of-type(3){
    display: flex;
    justify-content: right;
    align-items: center;
}
.education_main .education_container:nth-of-type(2){
    display: flex;
    justify-content: center;
    align-items: center;
}
.education_container h1{
    font-size: 4rem ;
    font-weight: bold;
}
.education_container h1 span{
    font-weight: lighter;
    font-size: 2rem ;
}
.education_container h2{
    font-size: 2rem;
}
.education_container #year{
    color: orangered;
    font-size: 1.8rem ;
}
.education ul li{
    margin: 1rem 0rem ;
}

/*Skills Section */
.skills{
    width: 100%;
    height: 100%;
    display:grid;
    place-items:center;
    background-color: var(--main);
}
.skills_container{
    width: 70%;
    height: auto;
    padding:5rem 10rem  ;
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    gap: 10rem ;
    background-color:var(--secondary) ;
    border: none;
    border-radius: 2rem;
}
.skills h1{
    font-size: 4rem ;
    font-family: 'Poppins';
}
.skills h2{
    font-size: 2rem ;
    font-family: 'Poppins';
}
.skills p {
    font-size: 1.5rem ;
    font-family: 'Noto serif';
    text-align: justify;
}
.skills li {
    margin: 1rem 0rem ;
}

/* Project section */
.project{
    width: 100%;
    height: 100%;
    display:grid;
    place-items:center;
    background-color: var(--main);
}
.project_main{
    width: 90%;
    height: auto;
}
.project h1{
    font-family:'Poppins';
    font-weight: bold;
    color: var(--blk);
    font-size: 7rem;
}
.project_container{
    margin: 10rem ;
    width: 80%;
    height: auto;
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    gap: 5rem ;
}
.project img{
    width: 30vw;
    height: auto;
    border: none;
    border-radius: 1rem ;
}
.project_container h1{
    font-size: 4rem ;
    color: var(--blk);
}
.project h3{
    font-size: 2.5rem ;
    /* color: gray; */
    font-weight: 300;
    font-family: 'Noto serif';
}
.project p {
     font-size: 2rem ;
     color: var(--blk);
     font-family: 'Noto serif';
     text-align: justify;
}
.project h4 {
    color: orangered;
    font-size: 2rem ;
    font-family: 'Poppins';
    font-weight: 400;
}
.project h4 span{
    font-weight: 600;
}

/*contact section  */

.contact{
    width: 100%;
    height: auto;
    padding: 10rem ;
    background: var(--blk);
    /* display:grid; */
    /* place-items:center; */
}
.contact h1{
    font-size: 7rem ;
    color: var(--main);
    font-family: 'Poppins';
}
.contact ul{
    margin: 3rem 0rem ;
}
.contact ul li a {
    color: white ;
    font-size: 3rem ;
}
.contact ul li h3{
    color: var(--secondary);
    font-size: 2.5rem ;
    font-family: 'Poppins';
}
.contact h2 a {
    font-size: 1.5rem;
    color: white;
    transform: 0.2s linear ;
}
.contact h2 :hover{
    color: orangered;
    transform: scale(1.05);
}
.contact h2,.contact h2 a i {
    font-size: 3rem ;
    color: white;
}
.contact ul li h2{
    font-family:  'Anton SC';
    letter-spacing: 0.2rem ;
    font-weight: 200;
}






@media(max-width:1000px){
    html{
        font-size: 55%;
    }
    .skills_container{
        padding: 5rem 10rem;
    }
    .capabilities_container{
        grid-template-columns: 1fr 1fr ;
    }
}

@media(max-width:850px){
    html{
        font-size:45%;
    }
    .skills_container{
        padding: 3rem 5rem;
    }
    .project_container{
        /* width: 90%; */
        display:grid;
        place-items:center;
    }
    .project_container img{
        width:60vw;
    }

}
@media(max-width:700px){
    html{
        font-size: 40%;
    }
    
}

@media(max-width:600px){
    html{
        font-size:35%;
    }
    label{
        display: inline;
        width: 5rem;
        height: auto;
        font-size:3rem ;
        color: black;
        position: absolute;
        right: 10%;
        top: 10%;
        padding: 1rem ;
        background-color: var(--main);
        border: none;
        border-radius: 0.5rem;
        box-shadow: 0px 0px 100px 10px rgba(0,0,0,0.75);
    }
    body{
        position: relative;
    }
 .nav{
        position:fixed;
        background-color: black;
        display:grid;
        place-items:center;
        height: 100%;
        width:40%;
        top:0%;
        right: -110%;
        transition: 0.5s ease ;
        border-top-right-radius: 5rem;
        border-bottom-right-radius: 5rem;
        box-shadow: 120px 10px 150px 0px rgba(0,0,0,0.75);
    }
    .nav ul li a {
        color: white;
        font-size: 3rem ;
        
    }
    .nav ul li{
        position: relative;
        margin: 3rem 0;
    }
    .nav ul {
        display:grid;
        place-items:left;
    }
    #check:checked~.nav{
        left: 0%;
    }
    #check:checked~body{
        filter: blur(10px);
        opacity: 0.8;
    }
    .home_container{
        display:grid;
        place-items:center;
        gap: 5rem ;
    }
    .about img{
        display: none;
    }
    .about_container_left{
        background: url("self1.jpg");
        background-size: cover;
        background-repeat: repeat;
        width: 90vw;
        height: 70vh;
        padding: 3rem;
        /* color: white; */
    }
    .about h1 ,.about p{
        color: white;
    }
    
.education_main .education_container:nth-of-type(2){
    justify-content: center;
}
.skills_container{
    padding: 5rem 10rem;
    display:grid;
    place-items:center;
}
.capabilities_container{
    grid-template-columns:  1fr ;
    width: 70vw;
    padding: 10rem 5rem ;
}
.education{
    padding:10rem 0rem;
}
    .skills{
        margin:10rem 0rem ;
    }
    .project_container{
        margin:10rem 0rem ;
    }
}
